[2017-12-16 19:26] parkersonik opened #1 "Carousel Slamming"
When setting the fade effect, the carousel collapses, decided as follows:
[code]
It would be nice to set the auto-sliding option ...

[2018-01-05 11:38] koddr opened #2 "Mobile touch events?"
Hello.

Do you plans add mobile touch events to `bulma-carousel`?
It's very helpful for me (and other site builders with Bulma), because now I use another libs for this with many customizations.

[2018-01-07 21:59] asadghazanfary opened #3 "carousel scss file"
hello

can you give me carousel.scss file?

[2018-01-12 11:55] jethro1991 opened #4 "Feature Request: Auto-Scroll"
Auto-scrolling of the carousel would be great!

[2018-01-13 16:49] Wikiki commented on #4
Hi @jethro1991,

it's now available.
Please see the documentation page to find out how it works

[2018-01-13 16:54] Wikiki commented on #3
Hi @asadghazanfary,

I don't use SCSS but you can easily transform SASS to SCSS using this tool: https://www.sassmeister.com/ (just paste the SASS source and then go into "Options" and switch language source to SCSS)

[2018-01-13 16:54] #3 closed

[2018-01-13 16:55] Wikiki commented on #2
Hi @koddr,

I will ;-).

[2018-01-13 16:57] Wikiki commented on #1
Hi @parkersonik,

to fix that I set an height to .carousel element <code>style="height: 350px;"</code>.

I'm trying to find a way to manage it better.

[2018-01-14 10:48] #4 closed

[2018-01-14 11:15] Wikiki commented on #2
Fixed by #0eaa53d

[2018-01-14 11:15] #2 closed

[2018-01-14 11:17] Wikiki commented on #1
Auto-sliding option has been added. Please see documentation page.

[2018-01-15 08:34] koddr commented on #2
@Wikiki thanks a lot!

[2018-02-01 17:09] adius opened #5 "Double quote array expansions, otherwise they're like $* and break on spaces."
Hi,
I used [Feram](https://feram.io) to check your repo
and found the following issue.
I hope it helps!

Use double quote array expansions, otherwise they're like $* and break on spaces.

[code]

[2018-02-01 18:30] Wikiki commented on #5
Thanks. But not interested yet by your tool.

[2018-02-01 18:30] #5 closed

[2018-02-08 09:34] ZASebastian opened #6 "carousel-navigation is-overlay"
If you use " Overlay" as navigation you cant click on a link/url in "title" because "is-overlay" is over the title.

[2018-02-08 11:16] Yard8 opened #7 "Animated Slider"
Hi!

Noticed a slight issue when using carousel-animate-fade, the first slide doesn't apply the fade animation correctly when switching to the next slide. There after it works correctly, can you replicate this issue?

[2018-02-08 12:54] Wikiki commented on #6
You're right. I fixed it but not commit it yet.
I'll do it soon

[2018-02-08 16:43] Wikiki commented on #7
Can you please provide a working codepen ? Because I do not succeed to reproduce this issue.

[2018-02-11 11:38] #1 closed

[2018-02-11 17:09] melTr opened #10 "Install"
Hi
Have difficulties to install the extension.
Where bulma-caroussel folder should be? In the same folder than bulma.css ? Or anywhere?
Furthermore in https://wikiki.github.io/components/carousel/ it's written
`<script type="text/javascript" src="./carousel.min.js"></script>`
however, the file is named bulma-caroussel.min.js in the extension's folder.
Where this could should go? In head or before

[2018-02-11 18:31] Wikiki commented on #10
I fixed the documentation.
The JavaScript file path depends on the way you installed the extension.

If you used NPM then use the following url: '/node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.js'

[2018-02-11 18:31] #10 closed

[2018-02-11 20:05] melTr commented on #10
Finally get it working by adding
<link rel="stylesheet" type="text/css" href="../dist/bulma-carousel.min.css">
It's not written anywhere in documentation. Could you mention it somehow?

[2018-02-11 20:08] melTr commented on #4
Didn't work for me. I added data-autoplay="true" but nothing happens. However, using buttons to change image works fine.
Thanks

[2018-02-11 20:11] melTr opened #11 "prev in hero"
Again me...
Using prev button on your hero example from docs give a white background. Next button works as expected.
Others examples (non-hero carousel) works for both prev and next.
Thanks

[2018-02-11 20:13] Wikiki commented on #4
Is it working for you on the documentation page ?

[2018-02-11 20:24] Wikiki commented on #4
Hi @melTr ,

it was a typo error. Fixed ;-)

[2018-02-11 20:31] Wikiki commented on #11
Fixed by #77cc7f1

[2018-02-11 20:31] #11 closed

[2018-02-19 14:59] o1lab opened #13 "Carousel not animating with Nuxt"
Im using this carousel within a nuxt app (vuejs framework) - carousel appears displaying an image but it doesn't go to next image automatically (and on click of buttons)

Please help to resolve this issue..

To see the issue

npm install -g npx

[code]

In nuxt.config.js
[code]

Use carousel in pages/index.vue file.

[code]

Carousel appears on localhost:3000 and doesn't animate or go-to-next-imag

[2018-02-20 08:16] Wikiki commented on #13
Hi,

do you set <code>data-autoplay="true"</code> attribute to the carousel element to get it auto-scrolling ?

[2018-02-21 09:18] o1lab commented on #13
I think not including javascript is the issue. Including js in nuxt.config.js causes following error

[code]

However it is not related to this package.

[2018-02-21 09:18] #13 closed

[2018-02-22 05:04] nicholaskajoh opened #14 "Carousel not functioning properly if it contains only one image"
If the carousel contains only one image, the image is not displayed and clicking any of the navigation buttons generates an error.

[code]

The error generated from the code above if a navigation button is clicked.
[code]

[2018-02-22 18:11] Wikiki commented on #14
Fixed

[2018-02-22 18:11] #14 closed

[2018-03-02 13:59] rppf commented on #10
I have the same issue. @melTr , kindly show me your solution.
This is how I import in
app.scss
![](https://i.imgur.com/HVNYc6O.png)
and in app.js
![](https://i.imgur.com/ezSisF2.png)
and this is how I link in my index
![](https://i.imgur.com/03EC7gW.png)

By the way I'm using Laravel, VueJS, Bulma, Laravel Mix, and webpack.

[2018-03-03 12:38] rppf opened #16 "bulma-carousel is not working"
bulma-carousel is not working in my project
I installed bulma-carousel using yarn.

This is how I import bulma-carousel in
app.scss
![](https://i.imgur.com/HVNYc6O.png)
and in app.js
![](https://i.imgur.com/ezSisF2.png)
and this is how I link in my index
![](https://i.imgur.com/03EC7gW.png)

By the way I'm using Laravel, VueJS, Bulma, Laravel Mix, and webpack.

[2018-03-04 12:53] JohnMica opened #17 "Previous makes the carousel jump"
as in the codepen https://codepen.io/JohnMica/pen/WMBeyj?editors=1010

active image is image 3
press previous
carousel jumps to image 1 and slides to image 2

not sure why this is (i was expecting a 'reverse' in the slide animation)

[2018-03-05 06:23] Wikiki commented on #16
Hi @rppf,

is there an error within the javascript browser console ?

[2018-03-05 19:04] derevandal commented on #17
This is really happen.
I think that reverse animation wasn't implemented.

[2018-03-05 19:26] JohnMica commented on #17
I guess the only option is to use the hero with carousel fade at the moment.
That one seems to work as intended.

Regards,

John Mica

[2018-03-05 19:57] Wikiki commented on #17
Hi,

actually you're right the fade item is the only one working with Hero currently due to this issue I did not succeed to fix.

I'll try again....

[2018-03-05 20:06] Wikiki commented on #17
But...I just see it's happening on classic carousel too :-(

[2018-03-05 20:09] Wikiki commented on #17
I fixed it.
I will update the repo soon

[2018-03-05 20:12] Wikiki commented on #17
Done. see commit #1355319

[2018-03-05 20:13] #17 closed

[2018-03-05 20:15] derevandal opened #22 "Integration with third-party applications"
Hi,

I'm using VueJs as my companion on front-end and I wanna change hero nav color based on carousel item displayed. So, I think we can implement Javascript Custom Events to inform DOM what carousel item is on front.

I read about that in https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

Thanks.

[2018-03-05 20:24] Wikiki commented on #22
Hi @derevandal,

I like the idea :-).
I don't have much time those days but feel free to create a PR for it.

[2018-03-05 20:26] Wikiki commented on #7
Hi,

any news ?
Anyone else facing this issue ?

[2018-03-05 20:41] derevandal commented on #22
@Wikiki this weekend I'll try.
Thanks.

[2018-03-08 14:37] rppf commented on #16
@Wikiki There's no error in js console.

[2018-03-09 18:00] zainali95 opened #23 "top fix navbar is hidding carousel"
yup i did the html has-fix-navbar

![image](https://user-images.githubusercontent.com/14200901/37221970-6fab9090-23ed-11e8-9dbd-e8797f66a280.png)

[2018-03-09 18:07] Wikiki commented on #23
Hi,

Can you please provide a codepen ?
The body should start under the navbar so the carousel too.
Did you tried to put the carousel within hero ?

[2018-03-11 03:12] derevandal opened #24 "Sass reference error"
I got an error...

```"bulma-carousel": "^1.0.11"```

[code]
[code]

[2018-03-21 09:39] dbcbos commented on #16
Perhaps your missing the font awesome package. I also used Buefy in a project, but it uses the material design icons instead of font awesome. When I added font-awesome it worked.

[2018-03-29 12:31] Wikiki commented on #16
Hi @dbcbos,

this extension does not come with any font package. You have to install it as documented in Bulma's documentation.

regards

[2018-03-29 12:31] #16 closed

[2018-03-30 04:24] RickCogley opened #26 "Mac CodeKit Babel transpile error"
I'm using CodeKit and am by no means a javascript expert. CodeKit lets you combine javascript into a single minified file, and also transpiles using babel. I have ESLint turned on, and it is choking on the following error:

[code]

Is this an actual problem, or, should I take another course of action like, disabling ESLint?
Appreciate any assistance.

[2018-03-30 06:50] RickCogley commented on #26
Hello and thanks. I updated the module, and, it says I have 1.0.12, but, I still get the error. Also, I don't see in your master branch any change to the js file in dist anyway.

My `.bower.json`:

[code]

[2018-03-31 19:10] dnhyde commented on #7
Hi I am facing the same issue.
Here is the working [codepen](https://codepen.io/anon/pen/BrxzEo). Just change the `carousel-animate-slide` with `carousel-animate-fade` and you shall see the carousel becomes white.

Thanks for the amazing work!

[2018-04-13 18:29] Wikiki commented on #26
Hi,

please update to v1.1.0

[2018-04-13 18:29] #26 closed

[2018-04-18 12:39] s00172994 opened #27 "Uncaught TypeError with NgFor"
Hello.

If I try to add carousel items using ngFor, I receive an Uncaught TypeError.
[code]

[code]

[2018-04-30 04:10] SodomousPrime opened #29 "Amount of slides in corousel"
Is there a way to expand the amount of slides possible in the carousel?

increasing the amount of slides in the html does not achieve this, it only displays empty slides, if the amount is increased past 5.

[2018-04-30 04:28] #29 closed

[2018-04-30 22:52] johnhartman opened #30 "Need support for React"
I'm using bulma in a react app and would like to use bulma-carousel. Unfortunately the .js bindings do not fire because at **DOMContentLoaded** time, the (dynamically created) carousel does not yet exist. Might you repackage the js bindings such that they can be dynamically fired at the  React.Component.componentDidMount() event?

[2018-05-01 21:09] JohnLea83 commented on #10
@melTr How did you get this working?

[2018-05-02 00:43] melTr commented on #10
If I remembered correctly, js was not a problem, but I did a stupid error, I forgot to put css in head. Something like this:
<link rel="stylesheet" type="text/css" href="./styles/dist/bulma-carousel.min.css" />
Hope it helps.

[2018-05-02 01:45] luis7fj opened #31 "Bugs: The carousel does not work when you click on return the image is lost."
carousel-animate-slide =>  (it works by clicking on return)
Problem:
carousel-animate-fade => (It does not work when you click on return) | Image disappears
[code]

[2018-05-02 10:43] Wikiki commented on #31
Hi @luis7fj ,

this is a knowed bug with fade animation.
I didn't find a fix now. I'm still working on it.

[2018-05-02 10:44] Wikiki commented on #10
hi @JohnLea83 thanks for the help.
@melTr can you confirm this fix your issue ?

[2018-05-02 10:44] Wikiki commented on #30
Hi @johnhartman,

I will completely rewrite the extension and give the possibility to instantiate it manually.

[2018-05-02 10:45] Wikiki commented on #29
Hi @SodomousPrime,

for now I limited the amount to 5 but I'll work on the new version and watch how to easily increase it.

[2018-05-02 11:13] JohnLea83 commented on #10
@Wikiki Oh, to be honest, I wasn't trying to help. I was trying to find any way to get your code to work in my Angular app. And since your general response to this type of query is "I don't use Angular" followed up with closing the request, I'm left with asking people who tried the same sort of thing I'm trying now.

Also, thank you, @melTr, for your response.

[2018-05-02 11:51] Wikiki commented on #10
My bad I mix up the names when commenting.
That's right, I'm not using angular ;-) but if any of you have time to exchange on the best way to enhance the extension to ease the angular integration I'm aware.

[2018-05-02 12:29] Wikiki commented on #30
Why not instantiating it manually within your componentDidMount() event ?
var carousels = document.querySelectorAll('.carousel, .hero-carousel');
  [].forEach.call(carousels, function(carousel) {
    new Carousel(carousel);
  });

[2018-05-05 10:36] RickCogley commented on #6
I'd like this ability too.

[2018-05-05 10:54] Wikiki commented on #6
I'll commit this next week 😉

[2018-05-05 11:03] RickCogley commented on #6
thanks @wikiki!

On Sat, May 5, 2018 at 7:54 PM Wikiki <notifications@github.com> wrote:

--
Rick Cogley
rick.cogley@esolia.co.jp | *M*: 090-9959-5452
* Bilingual IT solutions and management firm—eSolia**Next Japan National
Holiday: "*Golden Week" May 3-6, 2018

--
*This email message and any attachments are confidential, and are meant to
be read by the intended recipient only. If you are not the

[2018-05-07 15:53] SebConejo commented on #31
Hi, I have the same bug. Still have not figured out how to solve this?

[2018-05-07 16:44] CreativeBulma commented on #31
Hi, the ongoing release should solve this issue. I should commit it next weekend

[2018-05-08 00:11] yasuhito commented on #6
@RickCogley the following quick fix worked for me.

[code]

[2018-05-08 00:18] RickCogley commented on #6
@yasuhito wow, thank you! That worked perfectly. 助かった！

[2018-05-10 09:45] #27 closed

[2018-05-10 09:46] Wikiki commented on #30
Hi, you can now use the attach static method from your componentDidMount() event (thanks to @anakinjay)

[2018-05-10 09:46] #30 closed

[2018-05-10 15:23] fklement opened #33 "Carousel autoplay doesn't work"
I'm getting this error in my console when using the carousel with autoplay set to true.
[code]

[2018-05-10 15:54] fklement opened #34 "Carousel navigation doesn't overlay the picture under iOS"
I noticed that the carousel `carousel-nav-left` and `carousel-nav-right` does not display correctly under iOS.
I tested it with different iOS Version and devices.
![986437f6-de81-4bf8-9b49-481a8bc68169](https://user-images.githubusercontent.com/7302097/39879415-0d6469e8-547b-11e8-92b1-8f4b68979514.jpg)

[2018-05-10 22:53] johnhartman commented on #30
Sorry for being late in getting back. Unfortunately when the component receives the componentDidMount() call, it has yet to be added to the DOM and consequently the querySelectorAll() call returns no elements.  There is no event in the react lifecycle for when the component has been added to the DOM. I tried creating a pseudo-event for when the component gets a 'Load' event, but 'Load' only occurs

[2018-05-10 23:30] anakinjay commented on #30
@johnhartman
have you tried putting the attach call inside of a  window.requestAnimationFrame call? you're probably getting caught in the few miliseconds between when the dom element is created and the time when the browser paints the screen.

If not that, a little cheesy, but I think you could use a settimeout of 100ms to give yourself a little buffer for attaching.

[2018-05-11 07:18] Wikiki commented on #30
Hi,

the incoming version 2.0.0 should fix this issue with a static attach method and a settimeout of 100ms as suggested by @anakinjay

[2018-05-11 10:44] Wikiki commented on #6
Please use v2.0.0

[2018-05-11 10:44] #6 closed

[2018-05-11 10:44] Wikiki commented on #7
Please use v2.0.0

[2018-05-11 10:44] #7 closed

[2018-05-11 10:45] Wikiki commented on #22
Please use v2.0.0

[2018-05-11 10:45] #22 closed

[2018-05-11 10:45] Wikiki commented on #24
Please use v2.0.0

[2018-05-11 10:45] #24 closed

[2018-05-11 10:45] Wikiki commented on #31
Please use v2.0.0

[2018-05-11 10:45] #31 closed

[2018-05-11 10:45] Wikiki commented on #33
Please use v2.0.0

[2018-05-11 10:45] #33 closed

[2018-05-11 11:04] fklement commented on #33
Thanks a lot :heart:

[2018-05-11 11:08] Wikiki commented on #34
Do you still having the issue with v2 ?

[2018-05-11 12:19] fklement opened #35 "Several errors after update to 2.0.0"
Maybe the problem is me but:
* Couldn't find `bulma-carousel.sass`
[code]

* Autoplay doesn't work
* Navigation between slider images doesn't work either

[2018-05-11 12:51] fklement commented on #34
On the iPad the problem is solved.
But on iPhone the error presists.
I tested it with an iPhone 5s and an 6s (both are currently running on iOS 10.3.3)

[2018-05-11 13:53] Wikiki commented on #35
Sorry. This is now working as expected

[2018-05-11 14:33] fklement commented on #35
No problem at all.
I installed version 2.0.6 and rebuild everything.
But autoplay and navigation is still not working.

[2018-05-11 14:38] Wikiki commented on #35
This is weird it's working on the demo site :-(

[2018-05-12 19:31] Webifi opened #36 "Swipe support?"
The [demos/docs](https://wikiki.github.io/components/carousel/) don't reference nor react to swipe left/right gestures in Chrome, but [extension.js](https://github.com/Wikiki/bulma-carousel/blob/master/src/extension.js) seems to have _swipeStart and _swipeEnd methods.

What am I missing?

[2018-05-13 08:49] fklement commented on #35
Damn that was my mistake.
But now i've found some other strange behaviours:
* It's not possible anymore to drag the picture to the left or right
* Weird looking white image showing up when navigating backwards

[2018-05-13 11:18] Wikiki commented on #36
Hi,

you don't miss anything. This functionality has some issues for now. I'm working on it.

[2018-05-13 11:41] Wikiki commented on #36
Hi,

it's been fixed.
I'll update the doc soon.

[2018-05-13 11:41] #36 closed

[2018-05-13 11:41] Wikiki commented on #35
Swipe functionality has been fixed.

I'll have a look on the other issue (if I get it on my side)

[2018-05-13 12:16] Wikiki commented on #35
Hi again,

can you please try again. I think it should be fixed.

[2018-05-13 16:32] fklement commented on #35
Thank you very much for your efford.
But the errors still persist in my application.

[2018-05-13 16:34] Wikiki commented on #35
both of them ?
The swipe only work with touche gesture (no mouse)

[2018-05-13 16:56] fklement commented on #35
Ah ok didn't know that.
But now i'm getting this error message:
[code]

[2018-05-13 17:36] Wikiki commented on #35
Arf my last commit got into develop branch and not master....I'll update it this evening. Sorry

[2018-05-13 18:10] Wikiki commented on #35
I just update the master branch and the npm package.
Thanks for all your tests and feedback

[2018-05-13 22:58] RickCogley opened #37 "Consider marking event handler as 'passive'?"
Thank you for your work. I am using the latest extensions, and noticed on my site that scrolling is sluggish on mobile. When I try to swipe up or down on pages like this, https://esolia.com/helpdesk/, the site is not so responsive to my finger swiping, for some reason. It works, but it is like there is a "resistance" to the swiping.

I notice in the console this sort of error I pasted below, and w

[2018-05-14 06:27] luis7fj commented on #31
Could you provide an example, it no longer works on carousel.

[2018-05-14 06:49] Wikiki commented on #31
Hi,

Can you please detail your request ?
The demo page has been updated using v2 and code to instantiate carousels.

Envoyé depuis ProtonMail mobile

-------- Message d'origine --------
On 14 mai 2018 à 08:27, Luis F a écrit :

[2018-05-14 11:29] #37 closed

[2018-05-14 11:36] Wikiki commented on #35
Hi, he last update v2.0.14 should have fixed your issues (and add swipe by mouse available too)

[2018-05-14 22:54] RickCogley commented on #37
Thank you @Wikiki. I upgraded to bulma-carousel 2.0.14 and tested. When I view this page in Chrome's "responsive" mode so it's set like a mobile device (https://esolia.com/helpdesk/), on loading I see:

[code]

Then when I click the right-facing overlay arrow-button, I get:

[code]

I'm also seeing what I think is a similar thing for bulma-quickview. On this page (https://esolia.com/management-tea

[2018-05-14 22:56] RickCogley commented on #37
Yeah, looks like I do have the right script. I see from your commit what code you added, and the version being used has it.

<img width="1068" alt="jrc screenshot 2018-05-15 at 7 55 44" src="https://user-images.githubusercontent.com/512328/40027556-84f31624-5815-11e8-89f2-8b46140a24c2.png">

[2018-05-15 04:53] Wikiki commented on #37
Hi, only carousel has been fixed currently. I'll work on quickview this weekend.

[2018-05-15 16:37] fklement commented on #35
No in the docs everything is fine.
Thx!

[2018-05-15 16:40] Wikiki commented on #35
Weird. Maybe it's anbug with vue. Have you the possibility to share your code ?

[2018-05-15 16:41] Wikiki commented on #35
Ho wait: how many images do you have in your carousel ? It could be a bug with less than 3 images....

[2018-05-16 11:37] fklement commented on #35
Sure here is the html part:
[code]

You're right. When i upload more then 2 images, the problem does not appear.

[2018-05-19 08:58] Wikiki commented on #35
I'll have a look at this. I don't know how to handle this case without duplicating the first item now.

[2018-05-22 14:41] alexssandrog opened #38 "Multiple carousel on Angular"
Hello, I'm trying to use multiple carousels on the same page, with Angular5+. But after adding the second carousel on page, nothing else works, neither the animation nor the navigation buttons.

Does something need to be done to function properly?

[2018-05-27 06:10] luis7fj commented on #16
![image](https://user-images.githubusercontent.com/5165935/40583006-ace51658-614a-11e8-83a4-f775c7770f15.png)

Utilícelo después de instanciar vuejs. Tube el mismo problema pero solo usando vuejs.

[2018-05-28 07:44] Dante1349 commented on #38
@alexssandrog Hey, could you please tell me how you imported the carousel to your angular app? Iḿ currently trying to do that to but it doesn't work properly. The Stylesheet is not the Problem, but how did you import the javascript? Iḿ also planing to add multiple carousels to my app, maybe Iĺl step into the same Problem here.

[2018-05-28 07:48] Wikiki commented on #38
Hi, I'm working on a new release which should, I hope, fix this kind of issue. Are you ready to test a pre-release version with angular ? If so, I'll add a new branch this afternoon, so you'll be able to get the code and test it within your application

[2018-05-28 09:38] Dante1349 commented on #38
@Wikiki Yeah I would, but I did't found out how to integrate the javascript to angular

[2018-05-28 11:55] alexssandrog commented on #38
@Wikiki Yes!!!!

[2018-05-28 12:03] alexssandrog commented on #38
@Dante1349 I did it this way, no mistery:

`npm i bulma`
`npm i bulma-carousel`

On `angular-cli.json`, include this line on _scripts_:
`"../node_modules/bulma-carousel/dist/bulma-carousel.min.js"`

I use SASS, so import the CSS on src/style.sass:
`@import "~bulma";`
`@import "~bulma-carousel";`

On the template of component, I include the carousel as it appears on the examples page. Like this:

[

[2018-05-28 15:20] Dante1349 commented on #38
@alexssandrog thank you very much, thats what i needed, I'm using almost the same configuration, except for sass, its scss in our usecase, but I will post what I experience. Especially what happens when I enter more carousels. BTW thank you for your exact answer ;-)

[2018-05-28 17:07] Wikiki commented on #38
Can you please try with the source into the "release/2.0.0" branch for multiple carousels on the same page ?
Don't forget to instanciate carousels by calling the static <code>attach()</code> method. There is no automatic instanciation anymore.
<code>var carousels = bulmaCarousel.attach(); // carousels now contains an array of all Carousel instances</code>

[2018-05-28 17:17] Dante1349 commented on #38
I thought that I was missing the script part, but I had that in my angular-cli.json

[code]

this is what i did in styles.scss:

[code]

my component:

[code]

But nothing works, even with the example code

[2018-05-30 12:51] Laraveldeep opened #39 "Uncaught ReferenceError: bulmaCarousel is not defined"
Hi,
In my Laravel project, carousel is included

[code]

but

[code]
produces the said error. Carousel styling is fine but slider part is not working.

Any suggestion?
Thanks!

[2018-05-30 16:57] Laraveldeep commented on #39
I did but I a am getting same error. I have other extensions imported in similar manner. Tags Input is working fine.

[2018-05-30 17:01] Wikiki commented on #39
I guess I had an issue with the dist compilation.
Can you try with the src code ?

[2018-05-30 17:03] Wikiki commented on #39
It seems in the master branch the component is called Carousel and not bulmaCarousel. I don't know why. I'll try to figure it out.

[2018-05-30 17:06] Wikiki commented on #39
Forget about the release branch is an old one. sorry I mix between the different extensions

[2018-05-30 18:01] Laraveldeep commented on #39
I am using the whole extension package. Carousel is one of them. I am using v1.0.31 of extension that includes Carousel v.2.0.14.

I have checked the `bulma-carousel.js`. Seems like it is defined as `bulmaCarousel`

Not sure why I am getting this error.

I am trying to attach that after including `bulma`, then `bulma-extensions`

[2018-06-03 13:15] dumptyd commented on #39
I'm getting this same error. Can't use bulma-carousel at all.

[2018-06-03 14:28] dumptyd opened #40 "Swipe/Mouse swipe is not working."
Tried the first example here https://wikiki.github.io/components/carousel/ on firefox and it's not working.

[2018-06-03 17:33] Wikiki commented on #40
Hi, I just tried on my mobile and it's ok for me on chrome and firefox. Weird

[2018-06-04 03:55] dumptyd commented on #40
I meant it's not working with mouse.

[2018-06-04 04:41] Wikiki commented on #40
I didn't understand. I'll check that

[2018-06-05 14:33] notchris commented on #39
I was getting this issue, but ended up using Carousel instead of bulmaCarousel and it seems to work. However, when switching between slides, I get the following error:

`Unable to preventDefault inside passive event listener invocation.`

I've tried applying touch-action style props to all contained elements with no luck.

https://i.imgur.com/asMThkK.png

[2018-06-05 14:34] notchris opened #41 "Unable to preventDefault inside passive event listener invocation."
Getting this issue when clicking on next / previous buttons to change slides in Chrome 66.

`Unable to preventDefault inside passive event listener invocation.`

Tried to set 'touch-action' style props on all contained elements, but this did not fix the issue.

[2018-06-05 14:34] notchris commented on #41
Note: The functionality is working correctly, but the error is thrown on each manual change.

[2018-06-05 15:48] Wikiki commented on #39
Arf... I'll check this extension completely tomorrow.

[2018-06-05 15:49] Wikiki commented on #41
Hi, it's a known issue. It was just a warning previously.
I'll try to fix that tomorrow.

[2018-06-05 17:30] notchris commented on #41
Thanks @Wikiki, I appreciate the quick response.

[2018-06-06 08:40] derricford opened #42 "hero-carousel is-parallax option"
Hello, do you mind adding parallax effect in carousel, especially hero carousel? Thank you.

[2018-06-06 14:35] #35 closed

[2018-06-06 14:35] #38 closed

[2018-06-06 14:35] #40 closed

[2018-06-06 14:35] #41 closed

[2018-06-08 17:00] Laraveldeep opened #43 "[Question] Is Path Intentionally Changed?"
I can see extra 'css' and 'js' added on path for this particular extension than rest of the extensions in bundle. Is this intentional? Also latest bundle release still uses old paths. Is it possible to bump bundle version with this changes? Thanks

[2018-06-08 17:17] ShapesGraphicStudio commented on #39
Hello,
I'm having the same issue here, maybe not doing it right.

I installed with

    npm install bulma-extensions

In resources/js/app.js, I had to write

    require('../../../node_modules/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.js');

for the system to find the .js file

Just beneath that I wrote

    var carousels = bulmaCarousel.attach();

And I get same error "ReferenceError

[2018-06-09 07:47] ShapesGraphicStudio commented on #39
I tried to change integration to change the order but I still get same error message.
Making this work fine with a static html file, but not within Laravel..

[2018-06-09 08:43] Wikiki commented on #39
please try v2.1.15 compile with webpack

[2018-06-09 09:04] ShapesGraphicStudio commented on #39
Thanks for the concern.
But I can not make this work.

[2018-06-09 10:42] Wikiki commented on #39
I don't know laravel. Are you able to share you fresh project so I'll be ablle to test and try to find the issue on my side ?

[2018-06-09 11:58] ShapesGraphicStudio commented on #39
Thanks for your concern.

I just pushed a public repository with all explanations.

[2018-06-09 13:32] ShapesGraphicStudio commented on #39
BTW, if it can help, I tested out other extensions.

Accordion, Quickview, Icon helper are working fine.

On Calendar I get same error bulmaCalendar is not defined.

Tags don't seem to work neither but no error.

[2018-06-09 14:34] Wikiki commented on #39
@ShapesGraphicStudio : is https://github.com/ShapesGraphicStudio/LaravelBulma is the repository you are talking about ?

@Laraveldeep you seem to be used to work with Laravel...Can I request you help ? Integration with Laravel drives me crazy. What's the prerequisites for extensions integration ? Should I release them in ES5 / ES6. If you have time to check with me one (calendar or carousel) exten

[2018-06-09 14:48] Wikiki commented on #39
@ShapesGraphicStudio : can you join me on discord: https://discord.gg/9RVxNG
I'm trying to work with your laravel repository and maybe you can help me.

[2018-06-09 14:51] Wikiki commented on #39
@ShapesGraphicStudio : on this discord server instead please: https://discord.gg/reg7Yr

[2018-06-09 16:33] ShapesGraphicStudio commented on #39
Great shot! Thanks a lot !!

[2018-06-10 04:15] rukshandangalla opened #45 "Unable to preventDefault inside passive event listener invocation."
I checked in the example documentation page and I can see the same error.

![image](https://user-images.githubusercontent.com/1329693/41198253-cbe13912-6c92-11e8-8915-90b0e0aecbd4.png)

Any idea why is this happening?

[2018-06-10 07:36] Wikiki commented on #45
Yes, the documentation page has not been updated to the last version. This issue has been fixed with the last release (in standalone version not in the bulma-extensions package)

[2018-06-13 17:49] Laraveldeep commented on #39
@Wikiki Sorry didn't get any notification regarding this conversation. Laravel uses 'Laravel mix' a wrapper for webpack.

`.copy('node_modules/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.js', 'public/js');` may not be necessary.

Let me check few things.

[2018-06-13 19:52] #45 closed

[2018-06-13 21:12] Wikiki opened #46 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-14 06:07] Laraveldeep commented on #39
@Wikiki referencing the script separately is one way to do it if it is used in single page. The reason we are using webpack it is to compile whatever scripts we have (Vuejs, JQuery, custom scripts used in the app) into single script.

Seems to me extension scripts not working have nothing to do with Laravel or any other framework. It used to work before. Probably something significant have changed

[2018-06-14 10:35] #46 closed

[2018-06-14 12:33] Laraveldeep commented on #39
We need to define `bulmaCarousel` explicitly.
This works perfectly with Laravel Mix/Webpack.
[code]

[2018-06-14 13:41] Wikiki opened #47 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-14 15:11] #47 closed

[2018-06-14 15:14] #23 closed

[2018-06-14 18:07] Laraveldeep opened #48 "[Minor] Left to Right Slide Uses White Space Instead of Previous Image"
Default slide direction of carousel is right to left. In this direction up coming image pushes the current image to left. However when we press navigation left arrow to slide in opposite direction, it used white space instead.

Loop should be continuity of images in either direction.

Thanks!

[2018-06-14 18:23] Wikiki commented on #48
How many images do you have in your Carousel ? Cause it's working as expected in documentation

[2018-06-15 11:30] Laraveldeep commented on #48
Ok.

I was testing with only 2 images. It behaves correctly when there are minimum of 3 images. Thanks!

[2018-06-24 10:22] walpoletim-bjss opened #49 "Carousel with multiple data items does not resize when resizing browser"
When you have a carousel with multiple items shown, then when the browser size is changed, the carousel does not resize

[2018-06-24 10:24] walpoletim-bjss opened #50 "swiping left / right does not work with image as href"
If the image is specified inside an href, swiping left and right no longer works

[2018-07-03 08:38] elavaud opened #51 "Hero carousel - Icons hidden"
Hi there,

bulma-carousel 3.0.0
vue-awesome 3.0.3

In the hero carousel, the navigation icons doesnt appear:

[code]

Any ideas?

[2018-07-03 16:35] Wikiki commented on #51
Hi,

you're html is wrong: icons are based on fontawesome on the example (but can be anything else) so please check fontawesome is working well on your site.

[2018-07-04 03:46] elavaud commented on #51
Thanks Wikiki,

Font awesome was well working on the site. However I was using [vue-awesome](https://github.com/Justineo/vue-awesome). All your carousel examples were well working except the hero-carousel one (I finally managed to get the icon displayed by adding "is-overlay" class, but then was not centered...).

But I actually switched to the official [vue-fontawesome](https://github.com/FortAwe

[2018-07-04 03:46] #51 closed

[2018-07-08 03:51] Scarittagle opened #52 "Carousel Navigation (or maybe the carousel module) does not work under Vuejs"
I installed thru npm.

and I imported the module under App.vue
Not sure is the way I imported it having problem or something else, if I import it like this:

`<style lang="sass">`
  `@import '~bulma'`
 ` @import '~bulma-carousel'`

the npm will throw an Module build failed error:
`Invalid CSS after "!": expected 1 selector or at-rule, was '!function(e,t){"obj'
      in F:\axd-tech-web-portal\node_

[2018-07-09 14:52] jethro-2018 opened #53 "Issues"
Using the latest version of Bulma and its extensions and the navigation doesn't seem to be working.

Also there is no button to copy the code off of the code examples, i don't think its showing the entirety of the code either.

[2018-07-12 03:30] bfioca opened #54 "bulmaCarousel.attach() returns 0 instances"
I know my carousel is working because I can click the navigation elements and it slides correctly.

Also worth noting is if I leave off the `bulmaCarousel.attach()` it stops working.

However,
[code]
always returns 0 for me, and I can't get a hold of any of the instances to listen to their events. Even if I try to select them directly with jQuery selectors.

Any ideas?

[2018-07-12 05:19] pramodsvidyarthi opened #55 "Ability to specify number of items to slide in multiple data items slider"
In a carousel with multiple data items, when the next and previous arrows are pressed the carousel slide by one and goes to the next element, having the ability to slide by multiple(specified number) items would be useful.

[2018-07-25 15:21] bfioca commented on #54
ok, it's actually because it returns the array before the elements are pushed (it uses a timeout):

`value: function attach() {
      var selector = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : '.carousel, .hero-carousel';
      var options = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : {};

      var instances = new Array();

      var elements = docu

[2018-08-16 06:07] TonyBCodes commented on #30
Hi.  I version 2.0.0 coming soon.  Of course I am using bulma carousel in react.  SO for the moment, I am stuck.

[2018-08-16 21:49] Wikiki commented on #54
I have to remove the setTimeout which was a old workaround to work with react.
I'll do it soon.

[2018-09-04 02:32] j1mc commented on #53
I looked at the source code for the carousel page, and saw that it included this javascript snippet:

[code]

I added that, and the navigation was able to work.  Without it, the CSS rendered fine, but there was no "swiping" or "transitioning" between the images.

[2018-09-06 13:20] Wikiki commented on #53
Hi,

Javascript code.to.use is described into the documentation at https://wikiki.github.io/components/carousel/#javascript

[2018-09-16 09:35] MHassanSaqib opened #57 "Ability to change the data-size for different viewports"
Hi, It would greatly help to change the data-size property for different viewports. Could you please help me to make it my project.

[2018-09-16 15:46] SandPipper commented on #57
+

[2018-09-17 19:27] Wikiki commented on #52
The last import try is the good one. But don't forget to also include the js file into your project to get the carousel works.

[2018-09-17 20:38] Scarittagle commented on #52
How to import it? I'm using the webpack so it's modularized.

[2018-09-30 15:02] iqbalaqaba commented on #49
It happened to me, whenever i'm trying to resize the browser, the carousel didn't work well. It's even happened on its doc site, try to refresh the browser couple times and resize the window. This happened.
I hope they fix it asap

![screenshot_2](https://user-images.githubusercontent.com/20835372/46258965-734c8f00-c4fc-11e8-9861-c4f0f551a228.png)

[2018-09-30 16:29] Wikiki commented on #49
Hi, I'll have a loot at it soon

[2018-10-05 02:30] estooong opened #59 "Feature Request: Nav dots"
Request to add navigation dots to bulma-carousel if possible. Thank you :smile:

[2018-10-08 05:07] Wikiki commented on #59
Hi its coming soon 😉

[2018-10-08 12:16] #54 closed

[2018-10-23 12:40] tehfink opened #60 "404 documentation link"
The "Learn How" link at the bottom of this page:
https://wikiki.github.io/components/carousel/
in this text:
[code]
results in a 404.

[2018-11-03 21:13] alexssandrog opened #61 "Carousel dont appear when enter in a route"
Hi, I have different carousels on different routes of my project. When the page is load/reload on the navigator, the carousel is perfectly showed. But when I click on a routerLink for enter a new page with another carousel, the page appear but without the respective carousel.

Anyone use this carousel with routers?

My package on the project
    "@angular/animations": "7.0.2",
    "@angular/common

[2018-11-03 21:14] Wikiki commented on #61
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-11-03 21:15] Wikiki commented on #61
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/Wikiki/bulma-carousel/issues/1 (Carousel Slamming), https://github.com/Wikiki/bulma-carousel/issues/3 (carousel scss file), https://github.com/Wikiki/bulma-carousel/issues/38 (Multiple carousel on Angular), https://github.com/Wikiki/bulma-carousel/issues/13 (Carousel not animating with Nuxt), and https://github.

[2018-11-05 19:05] Chris81T commented on #61
I can confirm that behavior. Same in my app (using angular 6.1.0 with bulma-carousel 3.0.0).

[2018-11-05 19:21] Chris81T commented on #61
@alexssandrog How do you use the bulma-carousel?

For my app I have created a separate component. Like in the documentation is written, I have called bulmaCarousel.attach(); only one time.

If I will reach a route with the first image-carousel, the attach will be performed and one carousel is listed in the array. If I navigate to another route with a carousel, the attach wont be called again and s

[2018-11-05 19:29] Chris81T commented on #61
@alexssandrog You're welcome. But the question is, if it regardless, if the attach() method is called multi times, if more than one "carousel-component" exists on the same view/page. @Wikiki What do you think? Is this a problem?

[2018-11-05 19:52] Wikiki commented on #61
It should lead to an issue due to multiple instantiation on same elements. Currently carousel component does not handle multiple instanciation so you will have events attached multiple times.

[2018-11-07 10:34] Wikiki commented on #60
Fixed

[2018-11-07 10:34] #60 closed

[2018-11-15 14:50] andsala opened #62 "Ability to customize animation variables"
It could be useful to be able to customize `$carousel-animation-speed` and `$carousel-animation-method` SASS variables.

[2018-12-05 11:15] motia commented on #52
@Scarittagle , you can check how I did it [here](https://github.com/motia/bulma-vue-carousel/blob/master/src/bulma-vue-carousel.vue). Or you can use the package directly if you feel so,

[2018-12-07 19:14] raikusy commented on #57
@Wikiki when will this issue be fixed? Is there any work around for now?

[2018-12-08 12:32] Wikiki commented on #57
Hi,

I'm woeking on the next release. It will integrates that and should be released before the end of the year

[2018-12-16 16:02] AminuSufi585 commented on #30
Simply import the `bulmaCarousel` from the bulma-extensions package
[code]
Then call the bulmaCarousel's `attach` method in componentDidMount
[code]

[2018-12-17 17:24] fabiopedrosa commented on #59
@Wikiki any update? can I help with something?

[2018-12-17 18:03] Wikiki commented on #59
Hi,

It should be release before the end of the year.

[2018-12-19 06:15] muhammad-asad-26 opened #63 "Documentation"
Hey,
Can anybody provide a link to documentation for reactJS. I have been doing a couple of things but my reference is always an empty array.

`var carousels = bulmaCarousel.attach();`

[2019-01-16 23:03] tmm1 commented on #49
I think this is probably due to fixed height set in fade mode:

https://github.com/Wikiki/bulma-carousel/blob/033a07476ada12ed986ad407539a1d669f943202/src/js/index.js#L143-L156

[2019-01-21 15:31] OlivierJM commented on #30
If anyone come across this issue again @AminuSufi585 comment will fix it.

[2019-01-25 16:00] AlexFence commented on #57
hello there, what exactly is the status of this?

[2019-01-25 18:07] jasoncostello commented on #49
FWIW, this behavior also happens when only showing single images too (set to fade)

[2019-01-26 12:53] Wikiki commented on #57
Hi,

new version almost finished (I don't have enough time to finalize it currently). After that I have to update documentation and plublish it (I hope being able to do it before mid february)

[2019-01-28 02:56] jessaustin commented on #39
@dumptyd I'm getting the same issue with parcel and `bulmaCarousel` not being defined; how did you fix it? Sorry the parcel docs have not been helpful; thanks in advance!

[2019-01-29 10:05] YajanaRao opened #64 "How to pause auto play when user interacts with carousel ?"
Auto play does not pause when user interacts with the carousel item. Is there any option to pause the auto play on hover?

[2019-02-07 16:42] lludol commented on #59
Hello,

@Wikiki any update?
Your carousel is nice but my client want to display "dots" instead of arrows 😑

[2019-02-13 11:19] Wikiki commented on #59
Hi,

sorry for the delay I'm still fixing some bugs on the next release but not have much time thes days.

[2019-02-13 11:19] Wikiki commented on #64
Hi,

it's in progress in the upcoming release.
keep in touch.

[2019-02-20 14:14] tjad opened #65 "Slide does not update the currentItem.pos"
https://github.com/Wikiki/bulma-carousel/blob/033a07476ada12ed986ad407539a1d669f943202/src/js/index.js#L372

This line exists in init - and is the only place that `this.currentItem.pos` is ever set
`this.currentItem.pos = this.currentItem.node ? Array.from(this.items).indexOf(this.currentItem.node) `

Surely it should be set during the call to _slide()

[2019-02-20 14:22] tjad commented on #65
This is problematic when relying on the documentation's statement that the event emitted contains the relevant item position -  the event always returns a position of 0.

[2019-02-24 18:06] #34 closed

[2019-02-24 18:06] #48 closed

[2019-02-24 18:06] #49 closed

[2019-02-24 18:06] #50 closed

[2019-02-24 18:06] #55 closed

[2019-02-24 18:06] #57 closed

[2019-02-24 18:06] #59 closed

[2019-02-24 18:06] #64 closed

[2019-02-24 18:11] Wikiki opened #66 "[INFO] v4 documentation in progress"
Hi,

I just released the v4 of the extension and still working on the documentation.
Please be patient.

To wait you can instantiate Carousel using the following code (after importing bulma-carousel.min.css and bulma-carousel.min.js)
[code]

[2019-02-24 19:13] Wikiki commented on #66
Documentation is now available at: https://demo.creativebulma.net/components/carousel/

[2019-02-24 19:13] #66 closed

[2019-02-25 10:42] YajanaRao commented on #64
Do we have any documentation on implementing the above feature

[2019-02-25 10:49] Wikiki commented on #64
Have a look at the documentation page and especially at the option "pauseOnHover"

[2019-03-07 13:41] mbeunk opened #67 "Navigation bullets not updating if changing slidesToScroll"
I have a lot of carousel items to go through so I have set my slidesToScroll higher, but even though lesser bullets are used the excess bullets still remain under the carousel

[2019-03-07 14:37] Wikiki commented on #67
Hi,

can you please give more details about the number of items / value of slidesToScroll option ?

[2019-03-07 14:38] Wikiki commented on #65
Hi,

have you tried the last released ? Events have been updated.

[2019-03-08 09:39] CedricVimont opened #68 "Drag moves stop working on mobile"
Hi,

When the carousel is used on mobile, after a few draggings to the left or the right, the carousel doesn't answer to drag moves. The following errors show up in the console at the same time, so it may be connected:

"[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See <URL>"

AND

"ERROR TypeError: t.stopPorpagation is not a functio

[2019-03-08 10:05] #68 closed

[2019-03-18 14:12] gdestree opened #70 "Css has a dependency on images left.svg and right.svg so package doesn't work out of the box"
When using bulma-carousel@4.0.2 the package has a dependence on the images left.svg and right.svg and errors on initializing webpack.
Is this intended? I don't read anywhere that I should be adding any assets.

[2019-03-18 17:30] Wikiki commented on #70
Hi,

Nope it's an issue. I forgot to replace those images by svg content.
I'll fix it.

[2019-03-18 18:49] Wikiki commented on #62
Hi,

animation is now handled by JavaScript and you can customize animation for each instance by setting up options <code>duration: 300</code> and <code>timing: 'ease'</code>

[2019-03-18 18:49] #62 closed

[2019-03-18 18:51] #70 closed

[2019-03-21 06:31] kengres commented on #67
I have the same issue.
I have added to my page.
[code]
The html looks like this:
[code]
I added to my js:
[code]
When I click on arrows to navigate between slide, no problem.
But when I click on bullets, sometimes it works, sometimes I get this error.
[code]

[2019-03-21 07:21] Wikiki commented on #67
Thanks for details. I'll have a look on this issue.

[2019-04-07 11:49] Drillan767 opened #71 ""element.bulmaCarousel" returns undefined"
Hello, I discovered "bulma-carousel" just yesterday night, and I loved how fast it was to setup the basic carousel!

However, I have struggles to understand how you use the API. In my case, I would like to display "external" bullet buttons (that look more like actual buttons, with text in it).

My HTML looks like so:

[code]

And my JS, like so:

[code]

However, I have several problems:

When I d

[2019-04-07 12:15] Drillan767 commented on #71
My bad, I just realized I needed something such as

[code]

And nothing more

[2019-04-07 12:15] #71 closed

[2019-04-08 05:17] jkpulido opened #72 "Uncaught TypeError: Cannot read property 'offsetLeft' of undefined"
### Steps to reproduce the error:

1. Click on the right arrow
2. Click first button of the pagination
3. Click on the right arrow

![image](https://user-images.githubusercontent.com/6379532/55699751-ec3c1000-5991-11e9-8549-9d8b9f7f9706.png)
![carousel](https://user-images.githubusercontent.com/6379532/55700079-7a64c600-5993-11e9-94ed-c7e86ad0e191.gif)

[2019-04-16 08:04] lemnisk8 opened #73 "Bug: Hero carousel images resize incorrectly"
When the browser size is changed, the carousel images dont come back to the original size.
Tried on safari/chrome same result

![hero-carousel-responsive-bug_1](https://user-images.githubusercontent.com/1185625/56192568-4d2bae00-604c-11e9-9a7a-bfe58b6ed9bf.gif)

[2019-04-19 09:09] StratoKyke opened #74 "show() function not work"
Hi, I'm trying to integrate a carousel so that it changes slides at the pressure of a particular link.
This is the html.
`<div id="startSite" class="hero-carousel">
				<div class="item-1">

				</div>
<div class="item-2">

				</div>
<div class="item-3">

				</div></div>`

this is the javascript `const carousels = bulmaCarousel.attach('#startSite', {
        slidesToScroll: 1,
        slidesToSh

[2019-04-19 09:57] balalaXD commented on #63
i find this github repo is hard to use

[2019-04-26 10:10] abadilah1 opened #75 "I thought that I was missing the script part, but I had that in my angular-cli.json"
I thought that I was missing the script part, but I had that in my angular-cli.json

[code]

this is what i did in styles.scss:

[code]

my component:

[code]

But nothing works, even with the example code

_Originally posted by @Dante1349 in https://github.com/Wikiki/bulma-carousel/issues/38#issuecomment-392573214_

[2019-04-29 02:36] alessandrojcm opened #76 "window is not defining when using with Gatsby (Webpack + React)"
Hi there, I'm trying to use bulma carousel with Gatsby 2 but I', getting the following error when trying to build production HTML:
[code]

Here's the component that uses the carousel:

[code]

And here are my dependencies:

[code]

I'm using Node 10.15.1 on Arch Linux 64 bits, if that may be of help.
Also note that, in develop builds (i.e running `gatsby develop`) the carousel works just fine.

[2019-04-29 11:01] abadilah1 commented on #38
how do you initialize it in your appcomponent.ts pls ?

[2019-04-29 11:04] abadilah1 commented on #38
How is it initialized after all in the .ts file ??

[2019-04-29 19:14] tehfink opened #77 "pagination documentation"
On the documentation page:
https://demo.creativebulma.net/components/carousel//#options

It says that the default value for `pagination` is `HH:mm`. Is it correct?
[code]

[2019-05-04 21:41] Tomizzi opened #78 "Hero carousel - Display content"
Hello,

How am I supposed to add different text over the images of the carousel?

`
    <section class="hero is-medium has-carousel">
        <div class="hero-carousel">
                <div class="carousel-item has-background">
                    <img class="is-background" src="img.jpg" draggable="false" />
                    <div class="hero-body has-text-centered is-overlay">

[2019-05-06 23:28] Muhammadinaam commented on #38
where did you write following javascript:?

// Initialize all div with carousel class
var carousels = bulmaCarousel.attach('.carousel', options);

[2019-05-18 09:08] Wikiki commented on #77
No. It's a mistake. This option needs a boolean value (True to activate pagination else False)

[2019-05-18 09:08] Wikiki commented on #77
I'll update the doc

[2019-05-18 09:10] Wikiki commented on #76
Hi @alessandrojcm ,

it's a classic issue with Gatsby and production build process. The workaround it to wrap all use of <code>document</code> or <code>window</code> element with the following code

[code]

or

[code]

[2019-05-20 20:40] #63 closed

[2019-05-22 09:52] lenivek commented on #72
hey, i have the same issue, it come from the "ifinite" data option, i d'ont know why, but you can set it on "loop" instead ( the same bug happen in the infinite demo)

[2019-05-25 05:54] alalfakawma opened #81 "Error when disabling Navigation Swipe"
I do not want navigationSwipe and when I try to disable it from the constructor, I get this message in the console -

TypeError: this._swipe._bindEvents is not a function[Learn More] app.js:21680:9

Do you know the fix for this? It is a really weird issue and very annoying as i'm using range sliders in my slides and it is swiping left and right when moving the range slider.

[2019-05-26 13:19] max-l commented on #76
I am getting the same issue, when I launch the server in production mode.
I am using razzle (which uses webpack to build)

The problem is that it is the import of bulma itself that causes the problem, I cannot wrap the import as suggested above, because imports need to be top level.

[code]

[code]

[2019-05-26 13:34] max-l commented on #76
If I'm mot mistaken, this will crash all apps that uses server side rendering:  https://github.com/Wikiki/bulma-carousel/blob/master/src/js/utils/device.js

[2019-05-26 20:25] alessandrojcm commented on #76
I know this is not a fix _per se_, but I needed to get the carousel on the web ASAP; so I changed to [react-slick](https://github.com/akiran/react-slick) and it worked great. It let's you pass custom components for the carousel's arrow; so you can easily style your components with bulma's icons.

[2019-05-27 13:21] max-l commented on #76
This is my work around until the issue gets fixed, the line :
[code]

is replaced by :
[code]

[2019-05-31 09:07] trsh opened #83 "I just doesn't work"
I took example code

https://pastebin.com/0ZauxjBL

pasted in clean HTML. Filled the contents, and nothing...

AS well i could not catch any working live demos :(

[2019-05-31 09:39] trsh commented on #83
My bad

[2019-05-31 09:39] #83 closed

[2019-06-21 21:19] piosystems commented on #78
I have tried the solution Tomizzi posted above. It enables posting of different content on different slides of the Hero carousel, but unfortunately, the anchor links are never active. Any solution to the latter problem?

[2019-07-02 07:14] alexberendei opened #86 "slider-container expands more than the visible slides"
![Screenshot from 2019-07-02 10-05-20](https://user-images.githubusercontent.com/677755/60491367-4f97be80-9cb1-11e9-82be-c520c6a6b894.png)

I have this behavior after I've updated the bulma carousel to 4.0.4.

My quick fix was to override the css "slider" class and add `overflow:hidden `

[2019-07-07 16:39] tehfink commented on #77
@Wikiki Similar for "navigationSwipe": the docs say the default value is "MM/DD/YYYY"

[2019-07-07 17:52] tehfink commented on #86
I had the same issue, so thanks for the tip. Unfortunately, it seems to break the pagination as well…

[2019-07-08 13:17] WEEFAA commented on #30
np

it throws a TypeError Cannot read property 'offsetLeft' of undefined

[2019-07-11 12:11] kirillarutyunov commented on #77
@Wikiki  I fixed this problem, you can check PR

[2019-07-16 21:23] manushichev commented on #86
@tehfink yes, navigation stops working with `overflow:hidden`. And not immediately, but after some actions, the logic of which I can not understand.
Probably, a quick press "right" and "left" among others causes a breakdown. Also, the transition from dot navigation to arrows often causes a crash.

[2019-07-18 03:46] chivent opened #89 "Bug: infinite slider doesn't show if contained slides is less than slidesToShow"
For example if options are set to `slidesToShow:3, infinite:true` and there are only 2 slides in the carousel, the carousel will be shown as empty with a `cloneNode` error.

It might be due to the calculations for infinite slides, where calculated `slideIndex` goes into negatives once `infiniteCount >= slider.state.length`, and a `cloneNode` error occurs as `this.slider.slides[-1]` is undefined

<

[2019-07-18 05:27] kirillarutyunov opened #90 "[Bug] Carousel duplicates navigation on reset()"
I need to update my carousel on window resize event. On reset() carousel appends new navigation elements, but do not remove old.

![screenshot](http://dl3.joxi.net/drive/2019/07/18/0026/0094/1761374/74/f6553b5ec1.png)

[2019-07-29 06:34] christianmtr opened #92 "All images/videos are displayed"
All images im my carousel are displayed at left and right of the active image.

I have this code to show it:

[code]
[Codepen example](https://codepen.io/christianmtr/pen/MNJoXe)
The active image are "centered" correctly, but the three images are displayed.
Is it incorrect? What can I do to fix it?

[2019-07-29 19:48] bykof commented on #92
Adding the css
[code]
should do the trick. Nevertheless this is a bug, I think...

[2019-07-29 21:55] christianmtr commented on #92
@bykof it works! Thank you!
And sorry for open this issue :roll_eyes:

[2019-07-29 21:55] #92 closed

[2019-07-30 15:47] LemonDunk commented on #10
i have the same problem pls help me
this is my code:

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ISHRM TVET</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://kit.fontawes

[2019-08-03 17:34] calvintennant opened #93 "Race condition when hitting next/prev too fast"
I encountered some sort of race condition when hitting the next/prev buttons very quickly. Looked into your source and noticed that these inputs aren't debounced at all.

My issue goes away when I overwrite the prototype next/prev functions with a debounced version.

Could be a good addition to the project to debounce clicks.

If anyone else encounteres the issue where after clicking quickly on ne

[2019-08-03 18:50] calvintennant commented on #93
I encountered the same bug again when going between next/prev very quickly. Turns out these events should be debounced together in order to completly prevent the issue.

This solution manipulates the instantiated carousel instead of the prototype.

[code]

Here is a gif of my reproduction of the race condition on your demonstrations page. It does not seem to happen on the infinate or loop demos, o

[2019-08-30 05:32] limitMe opened #95 "`Loop/Infinite:true` is not compatible with `navigation:false` on hero carousel"
`bulmaCarousel.attach('#carousel-demo', {
    autoplay: true,
    slidesToScroll: 1,
    slidesToShow: 1,
    loop: true,
    navigation: false,
    pagination: false
  });`
Navigation Buttons are still visible (icons are gone but there are white round areas). After removing `loop:true` it works.

[2019-09-01 19:36] eman1986 commented on #86
I hope this gets fixed soon, the temp fix posted works for now for me

[2019-09-01 19:40] eman1986 commented on #77
still showing the wrong info, hope it gets fixed soon

[2019-09-02 03:42] jayantamadhav commented on #95
I've had the same issue, the issue is in normal carousel too.
`var carousels = bulmaCarousel.attach('.carousel', {
			slidesToScroll: 1,
			slidesToShow: 6,
			autoplay: true,
			autoplaySpeed: 3000,
			navigation: false,
			navigationKeys: false,
			pagination: false,
			infinite: true
		});`
When i remove 'infinite: true', navigation button is hidden

[2019-09-02 03:44] jayantamadhav commented on #95
I have faced the same issue, in normal carousel with "infinite: true" and navigation buttons

[2019-09-18 07:55] tbaddade commented on #90
Same problem here. And this also applies to the slider items.

[2019-09-29 12:07] tiglapiles commented on #74
this is the show() source code
`show(index, force = false) {
    // If all slides are already visible then return
    if (!this.state.length || this.state.length <= this.slidesToShow) {
      return;
    }

    if (typeof index === 'Number') {
      this.state.next = index;
    }

    if (this.options.loop) {
      this._loop.apply();
    }
    if (this.options.infinite) {
      this._infinite.app

[2019-09-29 14:14] tiglapiles commented on #74
you need to set index first

[2019-09-30 16:17] #77 closed

[2019-10-07 22:40] lribeiro commented on #74
https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Operators/typeof

[code]

typeof index === 'Number' should be typeof index === 'number'

[2019-10-11 07:31] tiglapiles commented on #86
I hava the same problem. It's fine in firefox and sarafi, just in chrome it expends the visible slides in device mode.

![image](https://user-images.githubusercontent.com/26108622/66632899-1ec60e80-ec3c-11e9-9fe0-73b2e8f1a7d9.png)

[2019-10-11 08:51] tiglapiles commented on #86
this is the sass source code,why comment overflow?
![image](https://user-images.githubusercontent.com/26108622/66638383-6a31ea00-ec47-11e9-988e-f45853db1b1d.png)

[2019-10-14 01:05] tiglapiles commented on #86
there is the alternative plan use react: https://www.npmjs.com/package/react-responsive-carousel

[2019-10-14 01:13] eman1986 commented on #86
some of us don't use react or ever want to.

[2019-10-14 02:39] tiglapiles commented on #86
year but bulma extensions's js is sock.

[2019-10-18 13:39] aracyla commented on #74
I'm not sure if will be helpful. But to show a specific slide I did like this

`
let c = carousels[0]
for(let k of Object.keys(bullet_list) {
  bullet_list[k].onclick = function() {
    if(c.state.next = k) return;
    else {
      c.state.next = Number(k);
      c.show(k);
    }
  }
}
`

[2019-11-07 16:26] lenivek commented on #95
Hi ! i know i'm late but the infinite loop seems to not work when the total amount of slides is less than the parameters slidesToShow! I  don't know if it helps you but i just figured out this bug

[2019-12-02 02:13] veryverygoodgood opened #96 "[REQUEST] Make this CSS only"
Any chance you guys could remove JS from the equation?

https://codeburst.io/how-to-pure-css-carousel-ce1a8cb231c8

Thanks!

--VVGG

[2020-01-03 22:29] vinodMS opened #98 "HTML5 video not working as expected"
Since I have seen a demo with youtube embed, I'm assuming HTML5 video tags are expected to work as well.

But unfortunately it doesn't seem to work as expected. Setting the video tag to autoplay does play the video, but the controls don't show up.

[code]

Not having autoplay on shows the controls but doesn't play the video.

Any idea how to fix the issue?

[2020-02-20 20:30] Sykat commented on #86
Adding `overflow:hidden` in Container worked for me.
You can also add _is-clipped_ class in container
https://codepen.io/adhaxious/pen/JjdRwvO

[2020-03-10 19:47] thills03 opened #99 "Pagination: false doesn't hide pagination fully"
When pagination is set to false, the carousel has a small section underneath it due to the padding on the slider-pagination div.

Also, the @media settings are removing the display: none;

I would think this is intended to be hidden fully when pagination is set to false.

![bulma-carousel pagination-false padding](https://user-images.githubusercontent.com/8712130/76353003-9f656580-62d5-11ea-875d-7

[2020-03-27 19:53] TheUrbina20 commented on #74
As Iribeiro says, there's an error comparing variable type.
I see the method is already updated in the repo, but in npm method still using 'Number', at least in version 4.0.4.

[2020-03-29 13:04] 0xAcid commented on #83
@trsh I cannot seem to make it work either. Any tips ? (Would also be useful for future users)

[2020-03-29 16:03] Wikiki commented on #83
@0xAcid : see demo here (based on the code gave by @trsh): https://codepen.io/wikiki/pen/bGdzdre

[2020-05-28 05:04] TupleTechnologies opened #102 "Bulma Extensions (Carousel) support for Angular 2+ (v8)"
Can someone confirm whether Bulma Extensions (Carousel) is supported to use with Angular 2+ (v8) projects using Typescript and the Angular CLI. The installation within the documentation doesn't cover for Angular 2+ projects.

If there's no support for this going forward, then, I'd prefer looking somewhere else. Please confirm.

[2020-08-10 11:22] TnSor06 opened #104 "Slider stops working when I click or touch during transition"
When I click or touch while slider is in transitions from one slide to another it stops and doesn't move to next or previous slide and is stuck on one slide forever.

[2020-08-11 09:07] TotallWAR opened #105 "Remove carousel method. How to release memory?"
There is method `attach` to init carousel but is there method to remove all event listeners etc?

[2020-08-28 15:34] hwauck commented on #95
I can confirm, normal carousel doesn't work if navigation: false is set and loop: true or infinite: true is set. I have to use the default scrolling behavior at the moment if I want navigation: false.

[2020-08-29 08:38] Luca-Castelnuovo commented on #95
I used this

'''
import React, { useEffect } from 'react';
import styled from 'styled-components';
import bulmaCarousel from 'bulma-carousel/dist/js/bulma-carousel.min.js';
import 'bulma-carousel/dist/css/bulma-carousel.min.css';

import Hero1 from 'Assets/images/hero/hero1.jpg';
import Hero2 from 'Assets/images/hero/hero2.jpg';
import Hero3 from 'Assets/images/hero/hero3.jpg';
import Hero4 from '

[2020-09-20 15:10] davideanfossi commented on #104
yep me too

[2020-09-23 21:42] PelFritz opened #108 "center columns in classic carousel"
Hi,
I tried centering columns in classic carousel but it won't center. I applied is-centered to the parent .columns but it does not work. Is there away to make my columns be at the center for classic carousel. Thanks  😊

[2020-09-24 07:51] PelFritz commented on #108
solved this by adding some css code " margin:auto " to my children div block

[2020-09-24 07:51] #108 closed

[2020-10-11 16:04] msrumon opened #110 "Incorrect transition values"
If I load [this site](https://www.galaxnetpictures.com) while the dev tool is opened and docked to the right, and close the dev tool after loading the site, I see this abnormality:
![image](https://user-images.githubusercontent.com/9024015/95683505-86c38200-0c0d-11eb-9c7b-9315d3c46ae3.png)
Anybody knows why?

[2020-10-14 11:39] oprocopio commented on #73
I solved this problem with CSS. Maybe not the best solution, but works for my full width hero section.

[code]

[2020-10-26 11:34] bavoceulemans opened #111 "Navigation breaks when doubleclicking"
When I doubleclick on the navigation buttons when the carousel is on the farleft or farright, it gets stuck on that item. Page reload required to get out.

This is also visible on the [demo](https://creativebulma.net/product/carousel/demo) => Go to the Default demo, click right once, double click left => Demo stuck on first item.

Possibly related to #104

[2020-11-13 12:38] alvaromlg opened #112 "It's option "navigationKeys" still supported?"
`navigationKeys: false ` doesnt do anything and I dont see in the code any usage apart from the option definition.

[2020-11-14 03:37] eman1986 commented on #102
I don't believe this is made to work with angular

[2020-11-16 14:39] panevski commented on #105
you can use something like this

[code]

[2020-11-20 18:28] bk138 commented on #111
Same here, using Firefox 78.

[2020-12-08 11:41] killcodeX commented on #30
Hi, When I am trying to import Bulma from Bulma carousel it showing 'TypeError: Cannot read property 'offsetLeft' of undefined', error.

[code]

[2020-12-30 15:23] khoiphanngoc89 opened #114 "Cannot use in vue"
I want to integrate with vue js, nuxt js but it causes a lot of errors.
Could anyone show me the way to use it in nuxt js, vue js?

[2021-02-04 23:34] johnywhyte commented on #13
Hello, Did you find a way to make the Bulma carousel work in nuxt? I really need this solution. can anyone help out?

[2021-03-13 16:42] TihomirS opened #115 "effect: 'fade' not show image"
Hi,

I use bulma.io v0.9.1
and try the last version from hire also the one to fix this fade effect issue ..
still the same situation I can't see the carousel ... any solution?

T.

[2021-05-04 15:56] GreenRidingHood commented on #13
yes.. i can not mak it work in my nuxt project too.. is there any example we can follow

[2021-05-05 04:26] GreenRidingHood commented on #114
@khoiphanngoc89 not sure if you still need it. I spent so much time too and get help from JS person, finally i am seeing it but still i m not happy with it.

Nuxtjs, and bulma
`<div id="carousel" class="carousel">`
                    `<div class="item-1">`
                        `<figure class="image is-16by9">`
                            `<img src="~/assets/img/img1.png">`

[2021-05-05 04:35] khoiphanngoc89 commented on #114
Thank you a lot. I will try it. I will close my question.

[2021-05-05 04:35] #114 closed

[2021-09-07 02:10] media-lab commented on #111
Same here - the browser doesn't matter, I tested Chrome, Safari, FF on Mac OS X Big Sur

[2021-09-11 20:19] dreamscached commented on #112
Same here, `navigation: false` has no effect.

[2021-12-25 07:53] alexanderdavide commented on #16
SCSS:
[code]

JS:
[code]

Mind the default import of `bulmaCarousel` in JS. It mustn't be a named import (import { bulmaCarousel } from "bulma-carousel";).

[2022-03-09 18:07] gentilmente commented on #105
As attach returns an array it must be
` bCarousel[0].destroy()`
but I get
[code]
any thougths?

[2022-03-09 20:46] gentilmente opened #117 "how to re attach after loading new items"
Hi. I'm in electron js
I want to reload carousel items after user open a dir with images.
I tried changing img src of already working carousel, works but of course this isn't dynamic

Then I tried to `attach()` after appending al items but it hangs the page in white.
dev tools shows a modal saying
[code]

I tried to use destroy() with no luck

[2022-03-10 13:15] gentilmente commented on #117
OK
[code]
hangs

but if I add {} to the arrow func it works, at least for the first time
[code]
it could be something related with arrow func and this, isn't it?

[2022-04-09 01:20] adminy commented on #105
Same here:
[code]

[2022-04-12 12:30] Jdeezy opened #118 "Clicking L/R arrows causes white flash"
Delete issue, think it's this machine.

[2022-04-12 19:21] gentilmente commented on #105
@adminy, my workarround was
[code]

[2022-04-18 20:40] aravdigital commented on #112
is this fixed? I'm having the same problem.

[2022-04-23 22:30] adminy commented on #105
Thanks @gentilmente, I needed like 5% from this project, so I just built a small module, that does just what I wanted it to do.

Future libraries:
1. _Define a state, which is the input_
2. _provide utilities that help transform input state to output state. This is extremely important that its utilities, and not objects taking away the input just to give you a broken promise of what you can do wit

[2022-05-25 06:00] Jdeezy commented on #115
Same issue here on v0.9.3?

[2022-05-25 12:33] Jdeezy commented on #118
Turns out it's not the computer. issue still exists.

[2022-11-01 05:44] Aryan3212 commented on #111
Still having this issue, any alternatives?